nav,
body,
div,
h1,
h2,
h3,
h4,
h5,
a,
i,
span {
    // font-family: Montserrat-Regular;
    text-decoration: none !important;
}
button.action-btn {
    outline: none;
    border: none;
}
// Body
$body-bg: #f8fafc;
// Typography
$font-size-base: 0.9rem;
$line-height-base: 1.6;
input {
    outline: none;
    border: none;
}
.action-btn {
    padding: 0;
    border-radius: 20%;
    height: 25px !important;
    width: 25px !important;
}
.action-btn > i {
    margin: 0;
}

.content__area {
    margin-top: var(--navbar-height);
    display: flex;
    width: 100vw;
    height: calc(100vh - var(--navbar-height));
    background: rgb(255, 255, 255);
}

.register__form {
    padding: 0;
    margin: 0;
    height: 80%;
    display: flex;
    align-items: center;
}

/*Forms*/
.forms {
    padding: 10px;
    // background: rgb(214, 249, 247);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.forms__content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background: #fff;
    background-clip: padding-box;
    border: 2px solid transparent;
    border-radius: 0.5rem;
    outline: 0;
}
.forms__header {
    background: #388e3c;
    color: #fff;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-top-left-radius: calc(0.5rem - 1px);
    border-top-right-radius: calc(0.5rem - 1px);
}
.forms__label {
    display: block;
    padding: 5px;
    font-weight: 700;
    cursor: pointer;
}
.forms__group-input {
    position: relative;
}
.forms__input {
    width: 100%;
    background: #fff;
    border: 3px solid lightgray;
    border-radius: 5px;
    height: 35px;
    line-height: 35px;
    padding: 0 10px 0 10px;
    transition: 0.3s ease all;
}
.forms__input:focus {
    border: 3px solid #0075ff;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}
.forms__input-error {
    font-size: 12px;
    margin-bottom: 0;
    margin-left: 5px;
    display: none;
}
.forms__input-error-active {
    display: block;
}
.forms__validation-state {
    position: absolute;
    right: 5px;
    bottom: 3px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}
.forms__message,
.forms__addres {
    grid-column: span 2;
}
.forms__group-btn-submit {
    grid-column: span 3;
}
.forms__message {
    height: 45px;
    line-height: 45px;
    background: #f66060;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
}
.forms__message-active {
    display: block;
}
.forms__message p {
    color: #000;
    font-size: 18px;
    margin: 0;
}
.forms__group-btn-submit {
    display: flex;
    justify-content: end;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.forms__btn-fixed {
    position: fixed;
    bottom: 0.5rem;
    z-index: 10;
}
.forms__btn {
    height: 35px;
    line-height: 35px;
    width: 30%;
    background: #0d6efd;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.1s ease all;
}
.btn-red {
    background: #f11313 !important;
}
.forms__btn:hover {
    background: #0b5ed7;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 1);
}
.forms__message-success {
    font-size: 14px;
    color: #119200;
    display: none;
}
.forms__message-success-active {
    display: block;
}

/*validations*/
.forms__group-correct .forms__validation-state {
    color: #1ed12d;
    opacity: 1;
}
.forms__group-incorrect .forms__label {
    color: #bb2929;
}
.forms__group-incorrect .forms__validation-state {
    color: #bb2929;
    opacity: 1;
}
.forms__group-incorrect .forms__input {
    border: 3px solid #bb2929;
}
/* --- media query --- */
@media screen and (max-width: 800px) {
    .forms {
        grid-template-columns: 1fr;
    }
    .forms__message,
    .forms__group-btn-submit,
    .forms_address {
        grid-column: 1;
    }
}
.lowcase {
    text-transform: lowercase;
}
.upcase {
    text-transform: uppercase;
}

//home style
.home-container {
    transition: 0.2s ease all;
    padding: 0;
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(
        rgba(255, 230, 3, 0.3),
        rgba(255, 255, 255, 0.5)
    );
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden !important;
}
.ms-title {
    display: flex;
    justify-content: center;
    height: var(--ms-title-heiht);
    line-height: var(--ms-title-heiht);
    margin-top: 2rem;
    color: #239c64;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    text-align: center;
    background: transparent;
    transition: 0.2s ease all;
}
.ms-title > p {
    margin: 0;
    width: 100%;
    font-size: 5vw;
    text-align: center;
    transition: 0.2s ease all;
}

.right-main-content > p {
    margin: auto;
    margin-top: 2rem;
    font-weight: bolder;
    font-style: italic;
    font-size: 3vw;
    color: #19191b;
    transition: 0.2s ease all;
}

.left-main-content,
.right-main-content {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    background: transparent;
    transition: 0.2s ease all;
}

.ms-main {
    height: calc(100% - var(--ms-title-heiht));
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 0px;
    overflow-x: hidden;
    overflow-y: auto;
    background: transparent;
    transition: 0.2s ease all;
}
.logo {
    background-image: url(/public/assets/logo-iiap.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
    transform: scale(1);
    transition: 0.2s ease all;
}

.crud-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 2px;
    background: white;
    border: 1px solid #9d9d9d;
    border-radius: 0.5rem;
    padding: 20px 0px;
    margin: 10px 10px;
    box-shadow: 0 0 5px rgba(163, 163, 163, 0.4);
}

.mx-background-top-linear {
    background: linear-gradient(120deg, #239c64 47%, #1f8354 50%) !important;
}

.nav.nav-treeview {
    padding-left: 10px;
}
.main-header {
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.user-panel-item {
    display: flex !important;
    vertical-align: middle !important;
    padding: 5px 0px !important;
}
.user-panel-item i {
    margin-top: 5px !important;
}
.user-panel-item p {
    margin-top: 5px !important;
    padding-left: 10px !important;
}
.role_buton_state {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
    cursor: none !important;
    background: white !important;
}
.role_button_state.ena {
    color: #119200 !important;
}
.role_button_state.disa {
    transform: rotate(180deg) !important;
    color: red !important;
}
.role_button_state i {
    font-size: 24px !important;
    border: none !important;
    cursor: pointer !important;
}
.user_menu_btn {
    font-size: 20px !important;
    border: none !important;
}
.close_btn:hover{
    color: red;
}
.center-check{
    display: flex;
    justify-content: center;
}