// Body
$body-bg: #f8fafc;
// Typography
$font-size-base: 0.9rem;
$line-height-base: 1.6;

:root {
    --ms-title-heiht: 100px;
}

.navbar-toggler {
    z-index: 50;
    position: absolute !important;
    border: 0 !important;
    right: 2rem;
    top: 0.5rem;
}
.navbar-toggler i {
    margin: 0;
    font-size: 30px;
    color: #fff;
}
.navbar-toggler:hover {
    box-shadow: 0 0 0 0;
    background-color: #ffffff;
}
.navbar-toggler:hover i {
    color: #000;
}
.navbar-toggler:focus {
    box-shadow: 0 0 0 0 !important;
}

.Exclamation-icon {
    font-size: 24px;
    color: black;
}
.content__area {
    margin-top: var(--navbar-height);
    display: flex;
    width: 100vw;
    height: calc(100vh - var(--navbar-height));
    background: rgb(255, 255, 255);
}

.register__form {
    padding: 0;
    margin: 0;
    height: 80%;
    display: flex;
    align-items: center;
}

/*Forms*/
.forms {
    padding: 10px;
    // background: rgb(214, 249, 247);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.forms__content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background: #fff;
    background-clip: padding-box;
    border: 2px solid transparent;
    border-radius: 0.5rem;
    outline: 0;
}
.forms__header {
    background: #388e3c;
    color: #fff;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-top-left-radius: calc(0.5rem - 1px);
    border-top-right-radius: calc(0.5rem - 1px);
}
.forms__label {
    display: block;
    padding: 5px;
    font-weight: 700;
    cursor: pointer;
}
.forms__group-input {
    position: relative;
}
.forms__input {
    width: 100%;
    background: #fff;
    border: 3px solid lightgray;
    border-radius: 5px;
    height: 35px;
    line-height: 35px;
    padding: 0 10px 0 10px;
    transition: 0.3s ease all;
}
.forms__input:focus {
    border: 3px solid #0075ff;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}
.forms__input-error {
    font-size: 12px;
    margin-bottom: 0;
    margin-left: 5px;
    display: none;
}
.forms__input-error-active {
    display: block;
}
.forms__validation-state {
    position: absolute;
    right: 5px;
    bottom: 3px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}
.forms__message,
.forms__group-btn-submit,
.forms__addres {
    grid-column: span 2;
}
.forms__message {
    height: 45px;
    line-height: 45px;
    background: #f66060;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
}
.forms__message-active {
    display: block;
}
.forms__message p {
    color: #000;
    font-size: 18px;
    margin: 0;
}
.forms__group-btn-submit {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.forms__btn-fixed {
    position: fixed;
    bottom: 0.5rem;
    z-index: 10;
}
.forms__btn {
    height: 35px;
    line-height: 35px;
    width: 30%;
    background: #0d6efd;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.1s ease all;
}
.forms__btn:hover {
    background: #0b5ed7;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 1);
}
.forms__message-success {
    font-size: 14px;
    color: #119200;
    display: none;
}
.forms__message-success-active {
    display: block;
}

/*validations*/
.forms__group-correct .forms__validation-state {
    color: #1ed12d;
    opacity: 1;
}
.forms__group-incorrect .forms__label {
    color: #bb2929;
}
.forms__group-incorrect .forms__validation-state {
    color: #bb2929;
    opacity: 1;
}
.forms__group-incorrect .forms__input {
    border: 3px solid #bb2929;
}
/* --- media query --- */
@media screen and (max-width: 800px) {
    .forms {
        grid-template-columns: 1fr;
    }
    .forms__message,
    .forms__group-btn-submit,
    .forms_address {
        grid-column: 1;
    }
}
.lowcase {
    text-transform: lowercase;
}
.upcase {
    text-transform: uppercase;
}

//home style
.home-container {
    transition: 0.2s ease all;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        rgba(255, 230, 3, 0.3),
        rgba(255, 255, 255, 0.5)
    );
    overflow: hidden;
}
.ms-title {
    display: flex;
    justify-content: center;
    height: var(--ms-title-heiht);
    line-height: var(--ms-title-heiht);
    margin: 0;
    color: #f11313;
    text-align: center;
    background: transparent;
    transition: 0.2s ease all;
}
.ms-title > p {
    margin: 0;
    width: 100%;
    font-size: 5vw;
    transition: 0.2s ease all;
}

.right-main-content > p {
    margin-left: 0;
    margin-top: 5rem;
    padding: 0;
    text-align: center;
    font-size: 4vw;
    color: #000;
    transition: 0.2s ease all;
}

.left-main-content,
.right-main-content {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    background: transparent;
    transition: 0.2s ease all;
}

.ms-main {
    height: calc(100% - var(--ms-title-heiht));
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 0px;
    overflow-x: hidden;    
    overflow-y: auto;
    background: transparent;
    transition: 0.2s ease all;
}
.logo {
    display: flex;
    justify-content: center;
    height: 400px;
    width: 150px;
    transition: 0.2s ease all;
}
.logo > img {
    padding: 0;
    float: left;
    width: 100%;
    height: 100%;
    transition: 0.2s ease all;
}

@media (max-width: 300px) {
    :root {
        --ms-title-heiht: 40px;
    }
    .ms-main {
        grid-template-columns: 1fr;
        grid-template-rows: 30%;
        grid-auto-rows: 70%;
        gap: 0px;
    }
    .left-main-content,
    .right-main-content {
        justify-content: center;
        height: 100%;
        text-align: center;
        padding-left: 2px;
        padding-right: 2px;
    }
    .right-main-content > p {
        margin-top: 0;
        font-size: 7vw;
    }

    .ms-title {
        height: var(--ms-title-heiht);
        line-height: var(--ms-title-heiht);
    }
    .ms-title > p {
        font-size: 8vw;
    }
    .logo {
        height: 100%;
        width: auto;
    }
}

@media (min-width: 300px) and (max-width: 800px) {
    :root {
        --ms-title-heiht: 80px;
    }
    .ms-main {
        grid-template-columns: 1fr;
        grid-template-rows: 60%;
        grid-auto-rows: 40%;
        gap: 0px;
    }

    .left-main-content,
    .right-main-content {
        justify-content: center;
        height: 100%;
        text-align: center;
        padding-left: 2px;
        padding-right: 2px;
    }
    .right-main-content > p {
        margin-top: 0;
        font-size: 7vw;
        transition: 0.2s ease all;
    }
    .ms-title {
        height: var(--ms-title-heiht);
        line-height: var(--ms-title-heiht);
    }
    .ms-title > p {
        font-size: 8vw;
    }
    .logo {
        height: 100%;
        width: auto;
    }
}
@media (min-width: 600px) and (max-width: 800px) {
    .right-main-content > p {
        margin-top: 0;
        font-size: 6vw;
        transition: 0.2s ease all;
    }
}
@media (min-width: 800px) {
    :root {
        --ms-title-heiht: 100px;
    }
    .ms-main {
        grid-template-columns: 35% 75%;
        gap: 0px;
    }
    .left-main-content {
        justify-content: end;
    }
    .right-main-content {
        justify-content: start;
        height: 100%;
    }
    .right-main-content > p {
        font-size: 4vw;
        transition: 0.2s ease all;
    }
    .ms-title {
        height: var(--ms-title-heiht);
        line-height: var(--ms-title-heiht);
    }
    .ms-title > p {
        font-size: 7vw;
    }
    .logo {
        height: 350px;
        width: 250px;
        margin-right: 0;
    }
}
