// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');
// Variables
@import 'variables';
@import 'btn_styles';
// Bootstrap
@import 'bootstrap/scss/bootstrap';

@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "~admin-lte/dist/css/adminlte.css";




