:root{
	--height: 50px;
	--width: 200px;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.button{
    margin-top: 20px;
	margin-left: 25%;
	position: relative;
	width: calc(0.8 * var(--width));
	height: calc(0.7 * var(--height));
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	overflow: hidden;
	box-shadow: 0 2px 5px rgba(0,0,0,0.2), 0 3px 8px rgba(0,0,0,0.1);
	transition: all 0.3s cubic-bezier(0, 0.22, .3, 1);
    border: 1px solid #fff;
    border-radius: 2em;
	
	&:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0,0,0,0.1);
	}

	span{
		color: #fff;
		font-size: 18px;
		z-index: 10;
		letter-spacing: 2px;
	}

	&._1{ background: #2980b9 }
	&._2{	background: #388E3C }
	&._3{	background: #16a085 }
	&._4{	background: #e74c3c }


	.back{
		position: absolute;
		width: 0;
		height: 0;
		filter: url(#filter);
		border-radius: 50%;
		z-index: 5;
		transition: all 2.5s cubic-bezier(0.1, 0.22, .3, 1);
	}

	&._1 .back{
		left: -50%;
		top: -50%;
		background: #27ae60;
	}
	&._2 .back{
		right: -50%;
		top: -50%;
		background: #1279ff;
	}
	&._3 .back{
		left: -50%;
		bottom: -50%;
		background: #34495e;
	}
	&._4 .back{
		right: -50%;
		bottom: -50%;
		background: #2980b9;
	}

	&:hover .back{
		width: calc(2 * var(--width));
		height: calc(2 * var(--height));
	}
}