@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700&display=swap");

body,
html {
    height: 100%;
    font-family: sans-serif;
    overflow-x: hidden;
}
a {
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    color: currentColor;
}
a:focus {
    outline: none !important;
}
a:hover {
    text-decoration: none;
    color: currentColor;
}
input {
    display: block;
    outline: none;
    border: none;
}
textarea {
    display: block;
    outline: none;
}

textarea:focus,
input:focus {
    border-color: transparent;
}

button {
    outline: none;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}
.limiter10 {
    width: 10%;
    margin: 0;
}
.limiter20 {
    width: 20%;
    margin: 0;
}
.limiter30 {
    width: 30%;
    margin: 0;
}
.limiter40 {
    width: 40%;
    margin: 0;
}
.limiter50 {
    width: 50% auto;
    margin: 0;
}
.limiter60 {
    width: 60%;
    margin: 0;
}
.limiter70 {
    width: 70%;
    margin: 0;
}
.limiter80 {
    width: 80%;
    margin: 0;
}
.limiter90 {
    width: 90%;
    margin: 0;
}
.limiter100 {
    width: 100% auto;
    margin: 0;
}
table {
    width: 100%;
    background-color: #fff;
}

th {
    font-weight: unset;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 10px;
    padding-bottom: 10px;
}
td {
    font-weight: unset;
    padding-top: 5px;
    padding-bottom: 5px;
}
.xs {
    width: 5%;
}
.s {
    width: 10%;
}
.m {
    width: 20%;
}
.lg {
    width: 30%;
}
.xl {
    width: 40%;
}
.pad {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}
.center {
    text-align: center;
    vertical-align: middle;
}

.custom-row.head th {
    padding-top: 10px;
    padding-bottom: 10px;
}

.custom-row td {
    padding-top: 5px;
    padding-bottom: 5px;
}

.custom-table td {
    font-family: Montserrat-Regular;
    font-size: 14px;
    color: #242424;
    line-height: 1.4;
}

.custom-table th {
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    font-size: 12px;
    color: #fff;
    line-height: 1.4;
    text-transform: uppercase;
    background-color: var(--bs-primary);
}

.custom-table .custom-row:hover {
    background-color: #d4d4d4;
}
.custom-table .hov-column-custom {
    background-color: #d4d4d4;
}

.custom-table .hov-column-head-custom {
    background-color: var(--bs-secondary);
}

.custom-table .custom-row td:hover {
    background-color: var(--bs-primary);
    color: #fff;
}
.container-fluid-navbar {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
}
.btn-group-xs > .btn,
.btn-xs {
    padding: 0.25rem 0.4rem;
    font-size: 0.875rem;
    line-height: 0.5;
    border-radius: 0.2rem;
}
nav {
    font-family: Montserrat-Regular;
}

body {
    font-family: Montserrat-Regular;
}

div {
    font-family: Montserrat-Regular;
}

span {
    display: inline-block;
    padding: 10px 20px;
}

.green {
    color: green;
}

.red {
    color: red;
}

.icon-lg {
    font-size: 25px;
}
header {
    width: 100vw;
    height: 100px;
    background-color: #fff;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 25%);
    display: flex;
    align-items: center;
}

header .container-fluid {
    width: 100%;
    padding: 0 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 992px) {
    header .container-fluid {
        padding: 0 5%;
    }
}

header .navb-logo img {
    width: 140px;
    height: 66px;
}

header .navb-items {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    letter-spacing: 3px;
}

header .item {
    text-align: center;
    margin-inline: 15%;
    font-size: 20px;
    letter-spacing: 3px;
    color: #102447;
    padding: 5px 0;
    transition: all 0.1s ease;
    border-bottom: 0px solid #64d6f4;
    border-top: 0px solid #64d6f4;
    cursor: pointer;
}

header .item:hover {
    border-bottom: 3px solid #64d6f4;
    border-top: 3px solid #64d6f4;
}

header .item-button a {
    background-color: #274d8a;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    transition: all 0.5s ease;
}

header .item-button a:hover {
    background-color: #64d6f4;
}

header .mobile-toggler {
    font-size: 30px;
}

/* modal */

.modal-dialog {
    margin: 0;
    width: 430px;
}

@media (max-width: 450px) {
    .modal-dialog {
        width: 82%;
    }
}

.modal-content {
    border-radius: 0;
    height: 100vh;
    overflow-y: scroll;
    background-color: #102447;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 88%;
    margin: 0 auto;
    padding-bottom: 16px;
    border-bottom: 2px solid #fefefe;
}

.modal-header img {
    width: 140px;
    height: 66px;
    margin-top: 17.5px;
}

.modal-header .btn-close {
    background: transparent;
    opacity: 1;
}

.modal-header i {
    color: #fefefe;
    font-size: 30px;
}

.modal-body {
    width: 88%;
    margin: 0 auto;
    padding: 75px 0 0 0;
    flex: unset;
}

.modal-body .modal-line {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 7px 0;
    margin-bottom: 50px;
    cursor: pointer;
    transition: all 0.5s ease;
    color: #274d8a;
    border-bottom: 1px solid #274d8a;
}

.modal-body .modal-line:hover {
    color: #fefefe;
    border-bottom: 1px solid #fefefe;
}

.modal-line a {
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 2.5px;
    color: #fefefe;
}

.modal-line i {
    color: currentColor;
    font-size: 30px;
    width: 35px;
    margin-right: 15px;
    padding: 0 0 3px 3px;
}

.navb-button {
    width: 100%;
    height: 47px;
    background-color: #fefefe;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    color: #274d8a;
    letter-spacing: 2px;
    transition: all 0.5s ease;
}

.navb-button:hover {
    background-color: #274d8a;
    color: #fefefe;
}

.mobile-modal-footer {
    width: 87%;
    margin: 0 auto;
    padding: 20% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    color: #274d8a;
}

.mobile-modal-footer i:hover {
    color: #fefefe;
}

.section-1 {
    width: 100vw;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-1 p {
    font-size: 75px;
    font-weight: 700;
    color: #102447;
    width: 90%;
    text-align: center;
}

@media (max-width: 767px) {
    .section-1 p {
        font-size: 50px;
        text-align: start;
        width: 70%;
        margin: auto;
    }
}
