body,
html {
    height: 100%;
}

nav,
body,
div,
h1,
h2,
h3,
h4,
h5,
a,
i {
    font-family: Montserrat-Regular;
}
a {
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}
a:focus {
    outline: none !important;
}
a:hover {
    text-decoration: none;
}
input {
    display: block;
    outline: none;
    border: none;
}
textarea {
    display: block;
    outline: none;
}

textarea:focus,
input:focus {
    border-color: transparent;
}

button {
    outline: none;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}
.limiter10 {
    width: 10%;
    margin: 0;
}
.limiter20 {
    width: 20%;
    margin: 0;
}
.limiter30 {
    width: 30%;
    margin: 0;
}
.limiter40 {
    width: 40%;
    margin: 0;
}
.limiter50 {
    width: 50% auto;
    margin: 0;
}
.limiter60 {
    width: 60%;
    margin: 0;
}
.limiter70 {
    width: 70%;
    margin: 0;
}
.limiter80 {
    width: 80%;
    margin: 0;
}
.limiter90 {
    width: 90%;
    margin: 0;
}
.limiter100 {
    width: 100% auto;
    margin: 0;
}
table {
    width: 100%;
    background-color: #fff;
}

th {
    font-weight: unset;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 10px;
    padding-bottom: 10px;
}
td {
    font-weight: unset;
    padding-top: 5px;
    padding-bottom: 5px;
}
.xs {
    width: 5%;
}
.s {
    width: 10%;
}
.m {
    width: 20%;
}
.lg {
    width: 30%;
}
.xl {
    width: 40%;
}
.pad {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}
.center {
    text-align: center;
    vertical-align: middle;
}

.custom-row.head th {
    padding-top: 10px;
    padding-bottom: 10px;
}

.custom-row td {
    padding-top: 5px;
    padding-bottom: 5px;
}

.custom-table td {
    font-family: Montserrat-Regular;
    font-size: 14px;
    color: #242424;
    line-height: 1.4;
}

.custom-table th {
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    font-size: 12px;
    color: #fff;
    line-height: 1.4;
    text-transform: uppercase;
    background-color: var(--bs-primary);
}

.custom-table .custom-row:hover {
    background-color: #d4d4d4;
}
.custom-table .hov-column-custom {
    background-color: #d4d4d4;
}

.custom-table .hov-column-head-custom {
    background-color: var(--bs-secondary);
}

.custom-table .custom-row td:hover {
    background-color: var(--bs-primary);
    color: #fff;
}
.container-fluid-navbar {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
}
.btn-group-xs > .btn,
.btn-xs {
    padding: 0.25rem 0.4rem;
    font-size: 0.875rem;
    line-height: 0.5;
    border-radius: 0.2rem;
}

span {
    display: inline-block;
    padding: 10px 20px;
}
.navbar-nav {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: var(--bs-navbar-color);
    --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
    --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }