html,
body {
    overflow: hidden;
}

nav,
body,
div,
h1,
h2,
h3,
h4,
h5,
a,
i {
    font-family: Montserrat-Regular;
}
a {
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}
a:focus {
    outline: none !important;
}
a:hover {
    text-decoration: none;
}
input {
    display: block;
    outline: none;
    border: none;
}
textarea {
    display: block;
    outline: none;
}

textarea:focus,
input:focus {
    border-color: transparent;
}

button {
    outline: none;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

.table-card {
    display: grid;
    grid-template-rows: 15% 10% 10% 50% 15%;
    gap: 0px;
    width: 90% !important;
    height: 80% !important;
    background: transparent !important;
    color: #fff !important;
    /* border: 1px solid #696969 !important; */
    /* border-radius: 15px; */
    transition: 0.2s ease all;
}

.table-header {
    line-height: 80px;
    margin: 0;
    padding: 0;
    width: 100% !important;
    height: 100% !important;
    font-size: 4vw;
    /* background: rgba(153, 153, 153, 0.288); */
    padding-left: 0.5rem;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border: none;
}
.table-header p {
    width: 100% !important;
    background: transparent !important;
}
.table-alert-box {
    height: 100%;
    width: 100%;
    background: transparent;
}
.table-function-btn-box {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding-left: 0.5rem;
    background: transparent;
    /* border-bottom: 2px solid #0000008e; */
}
.btn {
    height: 40px !important;
    line-height: 20px !important;
    text-align: center !important;
}
.table-data {
    height: 100%;
    width: 100%;
    padding: 1rem !important;
    background: #fff;
    overflow-x: auto;
    overflow-y: hidden;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.table-head {
    background: #575f8E;
    display: grid;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-auto-flow: column;
    grid-auto-columns: minmax(160px, 1fr);
    gap: 0px;
}
.table-head-cell {
    display: flex;
    justify-content: center;
}
.table-row-cell {
    background: #ffffff00;
    display: flex;
    justify-content: center;
}
.table-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-auto-flow: column;
    grid-auto-columns: minmax(160px, 1fr);
    gap: 0px;
}
.table-body {
    background: linear-gradient(to right,#7591a9a6, #7a6ca1ab);
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(25px, 1fr));
    grid-auto-rows: minmax(1fr);
    gap: 0px;
    color: #000;
}
.custom-table {
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(25px, 1fr));
    grid-auto-rows: minmax(1fr);
    gap: 0px;
    border-radius: 10%;
}

.custom-table .custom-row:hover {
    background-color: #d4d4d4;
}
.custom-table .hov-column-custom {
    background-color: #d4d4d4;
}

.custom-table .hov-column-head-custom {
    background-color: var(--bs-secondary);
}

.custom-table .custom-row td:hover {
    background-color: var(--bs-primary);
    color: #fff;
}
.btn-group-xs {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    line-height: 100%;
    text-align: center;
}
.btn-group-xs i {
    font-size: 15px;
}
.action-btn {
    border-radius: 20%;
    margin-top: 1.5%;
    height: 25px !important;
    width: 25px !important;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
}

.table-head-cell:hover,
.table-row-cell:hover {
    background: #bed0e4e3;
}
.table-row:hover{
    background: #8799b9;
}
.table-footer{
    width: 100%;
    height: 100%;
    background: #fff;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-left: 1rem;
}
