.navbar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 5px;
}

header .navbar {
    margin-bottom: 0;
}
a {
    color: #0a0a0a;
    text-decoration: none;
}

li {
    list-style-type: none;
}
.bg-image-full {
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.bg-dark {
    background-color: #222 !important;
}

.mx-background-top-linear {
    background: -webkit-linear-gradient(45deg, #388e3c 48%, #1b1e21 48%);
    background: -webkit-linear-gradient(left, #388e3c 48%, #1b1e21 48%);
    background: linear-gradient(45deg, #388e3c 48%, #1b1e21 48%);
}

@media screen and (max-width: 800px) {
    .navbar-brand,
    .nav-item {
        margin-left: 2.5rem;
    }
}
