/* Made by Mutiullah Samim*/
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(255, 255, 255, 0.822);
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(255, 255, 255, 0.822);
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(255, 255, 255, 0.822);
  }

nav,
body,
div,
h1,
h2,
h3,
h4,
h5,
a,
i {
    font-family: Montserrat-Regular;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 20px;
}
:root {
    --margin-top: 3.5rem;
}
.main-container {
    padding: 0;
    margin-top: var(--margin-top);
    height: calc(100vh - var(--margin-top));
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
}
.login-box {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: column;
    position: relative;
    margin: 5% auto;
    height: 300px;
    width: 800px;
    /* background: red; */
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
    align-content: center;
}

.left-box {
    /* background: red; */
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 400px;
    height: 100%;
    transition: .2s ease all;
}

.left-box h1 {
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 28px;
    color: #fff;
}

.left-box label {
    color: #fff;
    font-size: 20px;
}

.forms-group {
    height: 36px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #fff;
    display: grid;
    grid-template-columns: [first] 40px [line2] auto;
    grid-auto-rows: minmax(50px, auto);
    padding: 0;
    margin: 0;
}
.input-box {
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 10px;
    width: 80% auto;
    height: 35px;
    outline: none;
    font-size: 18px;
    transition: 0.2s ease all;
    color: #fff;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background: transparent;
    transition: .2s ease-in;
}

.input-icon-box {
    position: relative;
}

.input-icon {
    display: flex;
    width: 40px;
    align-items: center;
    padding: 0.7rem 0.6rem;
    font-size: 18px;
    height: 34px;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    background-image: linear-gradient( 90deg, #297fb9e0 90%,#ffffff00) !important;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
    transition: 0.2s ease all;
}

.forms-group-input {
    position: relative;
}

.input-box:focus {
    background: linear-gradient( 90deg, #ffffff00,#ffffff3a);
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    width: 400px;
    height: 400px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3));
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 20px;
    transition: .2s ease all;
}
.right-box a, .right-box a:hover{
    text-decoration: none;
    color: #fff;
}

.right-title {
    display: block;
    height: 20%;
    padding-top: 1rem;
    font-size: 24px;
    color: #fff;
    text-align: center;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}
.or {
    position: absolute;
    top: 47.5%;
    left: 47.5%;
    width: 40px;
    height: 40px;
    background: #efefef;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    transition: .2s ease all;
}

@media screen and (max-width: 800px) {
    .right-box {
        /* display: none; */
        top: 50%;
        height: 400px;
    }
    .right-title {
        margin-top: 15%;
    }
    .or {
        top: 48%;
    }
    .login-box {
        margin-top: 10%;
        width: 400px;
        height: 800px;
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 400px) {
    .right-box {
        top: 50%;
        height: 400px;
    }
    .right-title {
        margin-top: 15%;
    }
    .or {
        top: 48%;
    }
    .left-box,
    .right-box {
        width: 100%;
    }
    .login-box {
        margin-top: 10%;
        width: 100%;
        height: 800px;
        grid-template-columns: 1fr;
    }
}

