:root {
    --menu-options-height: 35px;
    --collapsed-sidebar-width: 80px;
    --expanded-sidebar-width: 250px;
}

.menu__side h4,
.menu__side a {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

.icon__menu-box {
    font-size: 20px;
    padding: 0 30px;
    width: 100%;
    height: 50px;
    display: flex;
    z-index: 200;
}

.icon__menu {
    width: 100%;
    height: 100%;
    line-height: 50px;
    display: flex;
    justify-content: center !important;
}

.icon__menu i {
    font-size: 25px;
    cursor: pointer;
    position: absolute;
    color: #fff;
}

.menu__side {
    width: var(--collapsed-sidebar-width);
    height: 100%;
    background: #1783db;
    position: fixed;
    left: 0;
    color: #fff;
    font-size: 18px;
    z-index: 300;
    overflow: hidden;
    border-right: 20px solid #1783db;
}
.options__menu {
    padding: 0px 20px;
    position: absolute;
}
.menu__side::-webkit-scrollbar{
    display: none;
}
.menu__side{
    scrollbar-width: none ;
}

.options__menu a {
    margin: 0;
    height: 40px;
    font-size: 18px;
    color: #ffffffb2;
    cursor: default;
    display: block;
    position: relative;
    transition: color 300ms;
}

.options__menu a:hover {
    color: #fff;
}

.options__menu .option {
    height: 40px;
    padding: 20px 0px;
    display: flex;
    align-items: center;
    position: relative;
}

.options__menu .option i {
    padding: 0;
    margin-right: 30px;
    cursor: pointer;
}
.options__menu .option h4 {
    font-weight: 300px;
    cursor: pointer;
}
.sub h4,
.sub i {
    font-weight: 600px;
    font-size: 12px !important;
    cursor: pointer;
    text-transform: capitalize;
}
.sub {
    margin-right: 0;
    margin-left: 50px;
}
a.selected {
    color: #fff;
}
.selected:before {
    content: "";
    width: 3px;
    height: 80%;
    background: #fff;
    position: absolute;
    top: 10%;
    left: -20px;
}
.body__move{
    margin-left: var(--expanded-sidebar-width);
}